<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Document</title>
  </head>
  <body>
  <h1 class="m-5 text-center">Liste de sproduits  </h1>

  <div class="container">
  <div class="row row-cols-1 row-cols-md-2 g-4">
  
    <% products.forEach(function(product){ %>
      
      <div class="col-4">
        <div class="card">
          <img src="https://media.sudouest.fr/1899314/1000x500/so-5ece72ab66a4bd757a411501-ph0.jpg?v=1590591458" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"> <%= product.price %></p>
            <a href="/detail-product/<%= product._id %>">...voir details du produit</a>
          </div>
        </div>
      </div>
      
      
      <% }); %>
      
    </div>
  </div>

 




 
  <script src="/js/bootstrap.js"></script>
  </body>
</html>
